footer.page-footer
  .s-footer

    .s-footer__badges

      //p
        //a(href="")
          //img(src="" alt="YouTube Upload Checklist followed" data-canonical-src="")

    .s-footer__grateful

      p Accelerated by #[a(href="https://www.keycdn.com/" target='_blank', rel="noopener noreferrer") KeyCDN]

      p Icons made by #[a(href='http://www.freepik.com' target='_blank', rel="nofollow noopener noreferrer") Freepik] from #[a(href='https://www.flaticon.com/', title='Flaticon' rel="nofollow noopener noreferrer") www.flaticon.com] is licensed by #[a(href='http://creativecommons.org/licenses/by/3.0/', title='Creative Commons BY 3.0', target='_blank', rel="noopener noreferrer") CC 3.0 BY]
      
      p Theme made by #[a(href="https://github.com/thedaviddias" target='_blank', rel="nofollow noopener noreferrer") David Dias]
    .s-footer__made
      p YouTube Upload Checklist made by #[a(href="http://yingjiehu.com") Yingjie Hu] 
      p #[a(href='https://patreon.com/invite/dqzxmo' target='_blank', rel="nofollow noopener noreferrer") Become a Patreon] for the Open-Source Community.
