.c-sponsor
  .cs__wrapper
    .cs__header YouTube Video Publish Checklist is proudly sponsored by
    a.cs__blurb(href='https://patreon.com/invite/dqzxmo', target='_blank', rel='noopener')
      span.cs__blurb__name Patreon.com
      span.cs__blurb__tagline  - get paid by your creative work
    .cs__footer
      | powered by&nbsp;
      a(href='https://patreon.com/invite/dqzxmo', target='_blank', rel='noopener') Patreon.com
    img.cs__pixel(src="#" width='1' height='1' alt="")
